name: "Deploy"

on:
  push:
    branches:
      - main

env:
  TERRAFORM_BACKEND_BUCKET: f618ad7356200906-terraform-remote-backend
  FE_IMAGE_NAME: ankiaicardcreationtoolboxfrontend
  BE_IMAGE_NAME: ankiaicardcreationtoolboxbackend
  PROJECT: ankiaicardcreationtoolbox
  LOCATION: us-central1


jobs:

  TestApi:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    defaults:
      run:
        working-directory: ./backend/AnkiAICardCreationToolboxBackend
    steps:
      - uses: actions/checkout@v2

      - name: Use Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install uv
        run: |
          pip install uv

      - name: Install Dependencies
        run: uv sync --all-extras

      - name: Run Tests
        run: uv run pytest

  TestFrontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend/AnkiAICardCreationFrontend
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '25.x'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:unit



  EnsureTerraformbackendExists:
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'ankiaicardcreationtoolboxsa@ankiaicardcreationtoolbox.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/1041428280183/locations/global/workloadIdentityPools/github/providers/ankiaicardcreationtoolbox2'
          create_credentials_file: true
          export_environment_variables: true
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
      - name: 'Use gcloud CLI'
        run: 'gcloud info'
      - name: check/ create bucket
        run: gcloud storage buckets describe "gs://$TERRAFORM_BACKEND_BUCKET" --project="$PROJECT" || gcloud storage buckets create "gs://$TERRAFORM_BACKEND_BUCKET" --project="$PROJECT" --location="$LOCATION"

  terraform:
    needs: [ EnsureTerraformbackendExists ]
    name: "Terraform"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infrastructure
    outputs:
      backend_url: ${{ steps.terraform-output.outputs.backend_url }}
      frontend_url: ${{ steps.terraform-output.outputs.frontend_url }}
      backend_name: ${{ steps.terraform-output.outputs.backend_name }}
      frontend_name: ${{ steps.terraform-output.outputs.frontend_name }}
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'ankiaicardcreationtoolboxsa@ankiaicardcreationtoolbox.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/1041428280183/locations/global/workloadIdentityPools/github/providers/ankiaicardcreationtoolbox2'
          create_credentials_file: true
          export_environment_variables: true
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false


      - name: Capture Terraform output
        id: terraform-output
        run: |
          BACKEND_URL=$(terraform output -raw backend_url)
          echo "BACKEND_URL=$BACKEND_URL" >> $GITHUB_OUTPUT
          
          FRONTEND_URL=$(terraform output -raw frontend_url)
          echo "FRONTEND_URL=$FRONTEND_URL" >> $GITHUB_OUTPUT
          
          BACKEND_NAME=$(terraform output -raw backend_name)
          echo "BACKEND_NAME=$BACKEND_NAME" >> $GITHUB_OUTPUT
          
          FRONTEND_NAME=$(terraform output -raw frontend_name)
          echo "FRONTEND_NAME=$FRONTEND_NAME" >> $GITHUB_OUTPUT
  

  BuildPushDeployFE:
    needs: [ terraform, TestFrontend ]
    name: "Build Push and Deploy Frontend"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'ankiaicardcreationtoolboxsa@ankiaicardcreationtoolbox.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/1041428280183/locations/global/workloadIdentityPools/github/providers/ankiaicardcreationtoolbox2'
          create_credentials_file: true
          export_environment_variables: true
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: 'Login to GCR'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_CREDENTIAL }}

      - name: 'Build and push fe Docker image'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/build-push-action@v2
        with:
          context: frontend/AnkiAICardCreationFrontend
          file: frontend/AnkiAICardCreationFrontend/Dockerfile
          push: true
          tags: gcr.io/${{ env.PROJECT }}/${{ env.FE_IMAGE_NAME }}

      - name: 'Deploy fe to Cloud Run'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          gcloud run deploy ${{ needs.terraform.outputs.frontend_name }} \
            --image gcr.io/${{ env.PROJECT }}/${{ env.FE_IMAGE_NAME }} \
            --region $LOCATION

  BuildPushDeployBE:
    needs: [ terraform, TestApi ]
    name: "Build Push and Deploy Backend"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: 'google-github-actions/auth@v3'
        with:
          service_account: 'ankiaicardcreationtoolboxsa@ankiaicardcreationtoolbox.iam.gserviceaccount.com'
          workload_identity_provider: 'projects/1041428280183/locations/global/workloadIdentityPools/github/providers/ankiaicardcreationtoolbox2'
          create_credentials_file: true
          export_environment_variables: true
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: 'Login to GCR'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_CREDENTIAL }}


      - name: 'Build and push be Docker image'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/build-push-action@v2
        with:
          context: backend/AnkiAICardCreationToolboxBackend/
          file: backend/AnkiAICardCreationToolboxBackend/Dockerfile
          push: true
          tags: gcr.io/${{ env.PROJECT }}/${{ env.BE_IMAGE_NAME }}


      - name: 'Create Secret in Secret Manager'
        run: |
          if ! gcloud secrets describe openai --project="${{ env.PROJECT }}" ; then
            echo "${{ secrets.OPENAI_API_KEY }}" | gcloud secrets create openai --data-file=- --project="${{ env.PROJECT }}"
          fi


      - name: 'Deploy be to Cloud Run'
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          gcloud run deploy ${{ needs.terraform.outputs.backend_name }} \
            --image gcr.io/${{ env.PROJECT }}/${{ env.BE_IMAGE_NAME }} \
            --update-secrets=OPENAI_API_KEY=openai:latest \
            --region $LOCATION
  

  testDeployment:
    needs: [ BuildPushDeployFE, BuildPushDeployBE ]
    name: "Test Deployment"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - name: 'Test Frontend Deployment'
        run: |
          curl --fail --silent --show-error --location --max-time 30 "https://f618ad7356200906-frontend-service-y55vgiciiq-uc.a.run.app"
      - name: 'Test Backend Deployment'
        run: |
          curl --fail --show-error --location \
            -X POST "https://f618ad7356200906-backend-service-y55vgiciiq-uc.a.run.app" \
            -H "Content-Type: application/json" \
            -d '{"text":"Anki Karten zur Funktionsweise von HTTP"}'